rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    match /watchlist/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    match /shows/{doc} {
      allow read: if doc == "allShows";
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}